<!DOCTYPE html>
<html>
	<head>
	   {{>header}}
	</head>

	<body>

		<p class="intro">G2 Crowd Team Roaster</p>

		<hr>


		{{#each welcome}}

			<div class="element">

				<p>

					<img src="{{this.image_url}}" alt="{{ this.name }}" class="img1">

					<p class="name">{{this.name}} </p>
					<p class="title">{{this.title}}</p>
					<p class="bio">{{this.bio}}</p>
					 
					{{#if this.temp}}


						<p>Want to work with <span class="bold">{{this.name}} </span>? <img src="/images/thumbs-up.svg" style ="width:15px; height:15px;" alt="success">
						  <span style="color:blue;">Thanks for voting to work with {{this.name}} </span> 
						</p> 

					<p><span class="bold">{{this.count}}</span> people have said <span class="bold">Yes!</span> </p>


					{{else}}

					<p>      
						<form action="/user" method="post">
					            <label>Want to work with <span class="bold">{{this.name}} </span> ?</label>
					            <input type="email" id="name" name="name" placeholder="email" required/>
					            <input type="hidden" id="id" name="id" value="{{this._id}}">

					            <input type="submit" value="Yes!" />

					    </form>

					</p>


					<p><span class="bold">{{this.count}}</span> people have said <span class="bold">Yes!</span> </p>


					{{/if}}


					<br clear="all" />


				</p>

				<hr>
				
			</div>

		{{/each}}

		{{>footer}}

	</body>
</html>
